.container {
    height: 100%;
    width: 250px;
    background-color: rgb(14, 14, 14);
    color: white;
}

.title {
    height: 150px;
    line-height: 50px;
    padding: 10px;
}

.mainTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.subTitle {
    color: rgb(214, 214, 214);
}

.menuBar {
    height:100%;
}

.menuList {
    padding-left: 0;
}

.menuList>li {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    list-style: none;
    line-height: 60px; /* 추후 수정*/
    text-align: center; 
    cursor: pointer;
}



.smallMenu {
    height: 0;
    transition-duration: 1s;
    overflow: hidden;
}

.menuList>li:hover .smallMenu {
    height: 250px;
    transition-duration: 1s;
}

.smallMenu>li:hover {
    text-decoration: underline;
}

.menuList li:hover {
    color: rgb(209, 209, 255);
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: underline;
    color: rgb(209, 209, 255);
}

.smallMenu>li {
    font-size: 0.7em;
    line-height: 50px;
    /* list-style: none; */
}

.help {
    position: absolute;
    bottom: 30px;
    left: 30px;
}