.contents {
    width: 100%;
    height: 100%;

}

.box {
    height: 90%;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.alertsSevere {
    background-color: rgba(255, 0, 0, 0.219);
    margin: 20px;
    display: flex;
    height: 80px;
    line-height: 80px;
    color: rgb(224, 0, 0);
    border-radius: 5px;
}

.alertsWarning {
    background-color: rgba(255, 255, 0, 0.205);
    margin: 20px;
    display: flex;
    height: 80px;
    line-height: 80px;
    color: rgb(179, 179, 0);
    border-radius: 5px;
}

.tag {
    flex: 1;
    font-size: 2rem;
}

.message {
    flex: 7;
    font-size: 1.2rem;
}

.X {
    margin-right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}